.container    
    .news-blocks
        .main-news-block
            .main-news-block_top
                h2.main-news-block__header Доступные SVG-иконки с инлайновыми спрайтами
                h3.main-news-block__subheader Если мы перестанем раздавать ярлыки типа «JS-разработчик» или «UX-разработчик», то сможем добиться перемирия в текущей войне «JS против CSS».
            .main-news-block_bottom
                span.main-news-block__date 25 апреля
                p.main-news-block__author иван константинопольский  
            img.main-news-block__img(src="img/Frame.svg" alt="alt")
        .news-block
            h2.news-block__header Советы по доступности интерактивных элементов намобильных устройствах
            .news-block__bottom
                .news-block__bottom_block
                    span.news-block__date 4 февраля
                    p.news-block__author Андрей Ситник
                img.news-block__img(src="img/Group_70.svg" alt="alt")
        .news-block
            h2.news-block__header Советы по доступности интерактивных элементов намобильных устройствах
            .news-block__bottom
                .news-block__bottom_block
                    span.news-block__date 4 февраля
                    p.news-block__author Андрей Ситник
                img.news-block__img(src="img/Group_70.svg" alt="alt")
        .news-block
            h2.news-block__header Что нового в JavaScript 2019
            .news-block__bottom
                .news-block__bottom_block
                    span.news-block__date 12 марта
                    p.news-block__author Девид Нил
                img.news-block__img(src="img/Group73.svg" alt="alt")
        .news-block
            h2.news-block__header Что нового в JavaScript 2019
            .news-block__bottom
                .news-block__bottom_block
                    span.news-block__date 12 марта
                    p.news-block__author Девид Нил
                img.news-block__img(src="img/Ellipse.svg" alt="alt")
    
