.container    
    .news-blocks
        .main-news-block
            p.main-news-block__header Доступные SVG-иконки с инлайновыми спрайтами
            p.main-news-block__subheader Если мы перестанем раздавать ярлыки типа «JS-разработчик» или «UX-разработчик», то сможем добиться перемирия в текущей войне «JS против CSS».
            span.main-news-block__date 25 апреля
            p.main-news-block__author иван константинопольский  
            img.main-news-block__img(src="/img/pattern-1--dark.jpg" alt="alt")
        .news-block
            p.news-block__header Советы по доступности интерактивных элементов намобильных устройствах
            span.news-block__date 4 февраля
            p.news-block__author Андрей Ситник
            img.news-block__img(src="/img/group_70.png" alt="alt")
        .news-block
            p.news-block__header Советы по доступности интерактивных элементов намобильных устройствах
            span.news-block__date 4 февраля
            p.news-block__author Андрей Ситник
            img.news-block__img(src="/img/group_70.png" alt="alt")
        .news-block
            p.news-block__header Что нового в JavaScript 2019
            span.news-block__date 12 марта
            p.news-block__author Девид Нил
            img.news-block__img(src="/img/group73.png" alt="alt")
        .news-block
            p.news-block__header Что нового в JavaScript 2019
            span.news-block__date 12 марта
            p.news-block__author Девид Нил
            img.news-block__img(src="/img/ellipse.png" alt="alt")
    
