header.header
  .container
    .menu
      nav.nav
        .nav-item.nav-left
          a.nav-link(href="#articles") Статьи
          a.nav-link(href="#conferention") Конференция
          a.nav-link(href="#calendar") Календарь
          a.nav-link(href="#podcast") Подкаст
          a.nav-link(href="#about") О проекте
        .nav-item.nav-right
          a.patreon(href="#")
            img.patreon-logo(src="img/patreon.svg" alt="patreon logo")
            span Поддержать проект
    .header-main
      a.header-logo(href="#")
        img.header-logo__img(src="img/wsd-Logo.svg" alt="logo")
        span.header-logo__txt-top Веб-стандарты
        span.header-logo__txt-bottom  Сообщество разработчиков
      .header-info-block
        img.header-info-block__img(src="img/microphone.svg" alt="alt")
        span.header-info-block__title 164
        span.header-info-block__text Автор JS-интенсивов, встроенный скроллер в Chrome развитие SVG и & в CSS
      .header-info-block
        img.header-info-block__img(src="img/group.svg" alt="alt")
        span.header-info-block__title 5 апр
        span.header-info-block__text Конференция в Москве, еще одна строка желательна
  

