@import "../mixins/media";
/* @font-face {
    font-family: 'RFDewi';
    src: local('RF Dewi Regular'), local('RF-Dewi-Regular'),
        url('../../fonts/RFDewi-Regular/RFDewi-Regular.woff2') format('woff2'),
        url('../../fonts/RFDewi-Regular/RFDewi-Regular.woff') format('woff'),
        url('../../fonts/RFDewi-Regular/RFDewi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  } */
header {
    // display: flex;
    //width: 1440px;
    /* background-color: red; */

    // @include media-tablet {
    //     width: 500px;
    // }
    height:224px;
    padding: 0 64px 0 64px;
}
.menu{
    width: 100%;
    border-bottom: 1px solid #8E8E8E;
    padding-bottom: 26px;
}
.nav{
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.nav-item{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-link{
    padding-right: 25px;
    font-family: "RFDewi", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #000000;
}
.patreon{
    display: flex;
    align-items: center;
    
}
.patreon span{
    font-family: "RFDewi",sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-left: 13px;
    color: #000000;
}
.header-main{
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.heder-logo__txt{
    display: flex;
    flex-direction: column;
}
.header-logo__txt-top{
    font-family: "RFDewi",sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.header-logo__txt-bottom{
    font-family: "RFDewi",sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #000000;
}
.header-info-blocks{
    display: flex;
}

.header-info-block{
    width: 260px;
    height: 106px;
    display: flex;
    flex-direction: column;
    
}
.header-info-block:first-child{
    margin-right: 49px;
}
.header-info-block__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
}
.header-info-block__img{
    width: 38px;
    height: 38px;
    
}
.header-info-block__title{
    font-family: "RFDewi",sans-serif;
    font-size: 48px;
    line-height: 58px;
    padding-left: 8px;
    /* identical to box height */

    text-transform: uppercase;
    color: #000000;
}
.header-info-block__text{
/* 16-reg */
font-family: "RFDewi",sans-serif;
font-size: 16px;
line-height: 130%;
margin-right: 17px;
/* or 21px */

color: #000000;



}